<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<!-- Global settings -->
	<display-name>${project.groupId}.${project.artifactId}-${project.version}</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
	</description>

	<!-- Listeners -->
	<listener>
		<listener-class>ab.Listener</listener-class>
	</listener>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>ab.servlets.Hello</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoServlet</servlet-name>
		<servlet-class>ab.servlets.Do</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoServlet</servlet-name>
		<url-pattern>/do</url-pattern>
	</servlet-mapping>
</web-app>
